// archive样式
.archive-wrapper
  .archive_year
    margin: 20px
    h2
      font-size: 24px
  .archive_post
    margin: 0 20px 0 50px
    height: 35px
    line-height: 35px
    a
      float: left
      margin-left: 5px
      max-width: 860px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    time
      color: #bbbbbb
