// category首页
.category_index
  margin-top: 40px
  border: #33bbff solid 2px
  box-shadow: 5px 5px 5px rgba(51, 187, 255, 0.3)
  .category-list
    margin: 30px
    .category-list-item
      width: 150px
      height: 50px
      line-height: 50px
      font-size: 16px
      display: inline-block
      white-space:nowrap

// 单个category分页
.category_head
  font-size: 26px

.category
  width: 100%
  line-height: 30px
  padding-left: 30px
  float: left
  border-left: rgba(51,187,255,0) solid 3px
  &:hover
    border-left: #33bbff solid 3px
    background-color: rgba(51, 187, 255, 0.3)
  .category_title
    width: 70%
    float: left
    a
      display: block
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
  .category_tags
    width: 30%
    float: right
    .tag-list-item
      display: inline
      margin-right: 15px
