// tag首页
.tag_index
  width: 600px
  height: 600px
  margin: 0 auto

// 单个tag分页
.tag_head
  font-size: 26px

.tag
  width: 100%
  line-height: 30px
  padding-left: 30px
  float: left
  border-left: rgba(51,187,255,0) solid 3px
  &:hover
    border-left: #33bbff solid 3px
    background-color: rgba(51, 187, 255, 0.3)
  .tag_title
    width: 70%
    float: left
    a
      display: block
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
  .tag_categories
    width: 30%
    float: right
    .tag-list-item
      display: inline
      margin-right: 15px
