.main
  width: 100%
  nav
    overflow: hidden
    visibility: hidden
.actions
  .btn-showmenu
    display: initial !important
.article-title
  .friend-list .friend a p
    font-size: 0.625em
.article-toc
  display: none
  margin-left: unset
  right: 0.5em
.search-box
  width: 90% !important
#gotop
  bottom: 2.5em
  margin-left: calc(100% - 5em)