.article-title
  h2
    height: 30px
    font-size: 24px
    line-height: 30px
    a
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    i
      font-size: 20px
  .meta_box
    height: 30px
    line-height: 30px
    font-size: 14px
    .meta
      float: left
      margin-right: 16px
      p
        display: inline-block
    .meta_auth img
      height: 1.2em
      width: 1.2em
      border-radius: 100%
  .post_tags
    width: 100%
    line-height: 30px
    font-size: 14px
    .tag-list-item
      display: inline
      margin-right: 15px
