// 文章右侧目录挂件
#toc-div
  margin-left: 1000px
  position: fixed
  .toc
    position: fixed
    top: 80px
    min-width: 200px
    max-width: 350px
    max-height: 750px
    overflow-y: scroll
  li
    list-style: none
  .toc-level-1,
  .toc-level-2,
  .toc-level-3,
  .toc-level-4,
  .toc-level-5,
  .toc-level-6
    margin-left: 1em
  .on
    color: #33ffff

#gohome a
  display: block
  width: 40px
  height: 40px
  line-height: 38px
  text-align: center
  border: 1px #f3f3f3 solid
  border-radius: 5px
  position: fixed
  right: 80px
  bottom: 50px