// 翻页
.turn_page
  width: 100%
  height: 35px
  text-align: right
  margin-top: 10px
  margin-bottom: 10px
  float: left
  a
    display: block
    width: 35px
    height: 35px
    line-height: 35px
    background-color: #666
    text-align: center
    float: right
    margin-right: 2px
    border-radius: 3px
  .page_current
    color: #33ffbb
    cursor: pointer
  .page_current:hover
    color: #33ffbb
  .page_more
    color: #f3f3f3
    cursor: pointer
  .page_more:hover
    color: #f3f3f3
