<% var plain_content = page.origin ? page.origin : page.content; %>
<% if(plain_content && toc(plain_content).length > 0){ %>
    <section id="toc-div" <% if (page.encrypt) { %>style="display: none;" <% } %>>
        <%- toc(plain_content, {
            list_number: theme.toc.list_number
        }) %>
    </section>
<% } %>
    <script>
        function gotohn(id){document.getElementById(id).scrollIntoView();}
        $(".toc-link").each(function(i,link){
            $(link).attr("href","javascript:gotohn('"+$(link).attr('href').substring(1)+"');");
        })
    </script>