@import "_widget/turn_page"

// header和footer中间部分
.content
  width: 100%
  min-height: 700px
  float: left
  padding-top: 60px
  a
    color: #f3f3f3
  a:hover
    color: #ffbb33
  .outer
    width: 1000px
    margin: 0 auto
  article
    padding: 10px
    blockquote
      margin-top: 10px
      margin-bottom: 10px
      border-left: solid 5px #33bbff
      background-color: rgba(22, 22, 22, 0.4)
      padding: 0.5em 1em 0.5em 1em
      footer cite::before
        content: "—"
        padding: 0px 0.5em

// 首页中的边框
.post-wrapper
  width: 100%
  color: #f3f3f3
  border: #33ffbb 1px solid
  border-radius:5px
  margin-top: 10px
  margin-bottom: 10px
  float: left

@import "_widget/title"
@import "_widget/toc"
@import "_partial/post"