// 导航栏
header
  width: 100%
  height: 48px
  background-color: #3F3B3A
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5)
  float: left
  position: fixed
  z-index: 9999
  .outer
    width: 1000px
    height: 100%
    margin: 0 auto
  .inner
    line-height: 48px
    float: left
    padding-left: 10px
    padding-right: 10px
    a
      color: #bbff33
    .logo-wrap
      margin-top: -0.3em
    .main-nav a
      display: block
      width: 60px
      text-align: center
      float: left
      &:hover
        background-color: rgba(22, 22, 22, 0.4)
