<%- partial('_partial/head') %>
<body>
    <%- include('_partial/header') %>
    <div class="content">
        <section class="outer"><%- body %></section>
    </div>
    <%- include('_partial/footer') %>
</body>
</html>
